$black: #3c3939;
$white: white;
$orange: #e4653d;
$red: #ec0d59;
$green: #4caf50;
$yellow: #f7c530;

$board-color: $black;
$controller-color: $white;
$toggle-color: $orange;
$score-color: $red;
$start-button-color: $green;
$strict-button-color: $yellow;
$strict-indicator-color: $red;
